In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt  # graphic Library
import seaborn as sns


%matplotlib inline

In [2]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize #sentence
from nltk.tokenize import TweetTokenizer #tweeter
from nltk.probability import FreqDist
from nltk.corpus import stopwords # Ex: a, the, and
from nltk.stem import WordNetLemmatizer # break down words in to dictionary
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#this is sample data
#from nltk.corpus import names  

from string import punctuation

#if the next cell does not work
#remove number symbol on following lines and re-run this cell
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('names')
nltk.download('stopwords')
nltk.download('vader_lexicon')

[nltk_data] Downloading package punkt to /Users/may/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/may/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package names to /Users/may/nltk_data...
[nltk_data]   Package names is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/may/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/may/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [3]:
df = pd.read_csv("Tweets.csv")  #read EXCEL.FILE
#1st column needs [encoding] to read pound/hashtag(#) symbol

df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [4]:
df1_review = df[['text']]

In [7]:
df1_review.head(15)

                                                 text
0                 @VirginAmerica What @dhepburn said.
1   @VirginAmerica plus you've added commercials t...
2   @VirginAmerica I didn't today... Must mean I n...
3   @VirginAmerica it's really aggressive to blast...
4   @VirginAmerica and it's a really big bad thing...
5   @VirginAmerica seriously would pay $30 a fligh...
6   @VirginAmerica yes, nearly every time I fly VX...
7   @VirginAmerica Really missed a prime opportuni...
8     @virginamerica Well, I didn't…but NOW I DO! :-D
9   @VirginAmerica it was amazing, and arrived an ...
10  @VirginAmerica did you know that suicide is th...
11  @VirginAmerica I &lt;3 pretty graphics. so muc...
12  @VirginAmerica This is such a great deal! Alre...
13  @VirginAmerica @virginmedia I'm flying your #f...
14                             @VirginAmerica Thanks!

In [8]:
from textblob import TextBlob

In [ ]:
import nltk
nltk.download('stopwords')

In [ ]:
eng_stopwords = stopwords.words('english') # function "stopwords"
eng_stopwords

In [ ]:
for word in textt:
    if word in punctuation: 
        textt.remove(word)